config BOARD_EYELASH_SOFLE_LEFT
    select BOARD_EYELASH_SOFLE

config BOARD_EYELASH_SOFLE_RIGHT
    select BOARD_EYELASH_SOFLE

config BOARD_EYELASH_SOFLE
    bool
    # This selects the SoC using the new HWMv2 naming convention
    select SOC_SERIES_NRF52X
    select SOC_NRF52840

rsource "Kconfig.defconfig"
