config BOARD_EYELASH_SOFLE_LEFT
    select BOARD_EYELASH_SOFLE

config BOARD_EYELASH_SOFLE_RIGHT
    select BOARD_EYELASH_SOFLE

config BOARD_EYELASH_SOFLE
    bool
    select SOC_NRF52840_QIAA

config BOARD_EYELASH_SOFLE_LEFT
    bool
    default y if BOARD_EYELASH_SOFLE_NRF52840_LEFT
    select BOARD_EYELASH_SOFLE

config BOARD_EYELASH_SOFLE_RIGHT
    bool
    default y if BOARD_EYELASH_SOFLE_NRF52840_RIGHT
    select BOARD_EYELASH_SOFLE

rsource "Kconfig.defconfig"
